body {
  font-family: 'Oswald', sans-serif;
  display: flex;
}

#recycle {
  height: 85vh;
}

.leftcontainer {
  width: 20vw;
  height: 100vh;
  background-color: hsl(0,0%,40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.rightcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.logo {
  width: 16vw;
  height: 16vw;
  margin-top: 8vh;
  margin-left: -0.5vw;
}

.maininfo {
  font-size: 2vw;
  margin-top: 5vw;
}

.introinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3%;
}

.namecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 4vw;
  margin-bottom: -3vw;
}

.mobilename {
  display: none;
}

.leftdivider {
  width: 8vw;
  height: .75vh;
  background-color: white;
  margin-top: 4vw;
}

@media(max-width: 1150px) and (min-width: 736px) {
  p {
    font-size: 1.75vh;
  }
}

@media(max-width: 735px) {
  p {
    font-size: 1.5vh;
  }
}


@media(max-width: 425px){
  body {
    flex-direction: column;
  }
  .leftcontainer {
    width: 100vw;
    height: 45vh;
    background-color: hsl(0,0%,40%);
    display: flex;
    flex-direction: column;
    color: white;
  }
  .logo {
    width: 60vw;
    height: 60vw;
    margin-top: 2vh;
    margin-left: -0.5vw;
  }
  .namecontainer {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    margin-top: 3vh;
  }
  .name {
    display: none;
    margin: 0;
  }
  .mobilename {
    font-size: 3vh;
    display: inline;
  }
  .leftdivider {
    /*width: 25vw;
    height: .75vh;
    background-color: white;
    margin-top: 5vh;*/
    display: none;
  }
  .maininfo {
    font-size: 3vh;
    margin-top: 3vh;
  }
  p {
    font-size: 2.9vw;
  }
}
